<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">University Club App</a>
        <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a href="/" class="nav-link">Ana Sayfa</a>
                </li>
        </ul>
    </div>
</nav>