<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">University Club App</a>
        <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home Page</a>
                </li>
                <li class="nav-item">
                    <a href="/announcements" class="nav-link">Announcement List</a>
                </li>
            <% if (isAuth) { %>             
                <li class="nav-item">
                    <a href="/admin/announcements" class="nav-link">Admin Announcements </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/announcement/create" class="nav-link">Add Announcement </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/clubs" class="nav-link">Admin Clubs </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/club/create" class="nav-link">Add Club </a>
                </li>

            <% } %>
        </ul>
        <ul class="navbar-nav ms-auto">

            <% if (isAuth) { %>   
                <li class="nav-item">
                    <a href="/account/index" class="nav-link"><%= fullname %> </a>
                </li>
                <li class="nav-item">
                    <a href="/account/logout" class="nav-link">Logout</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a href="/account/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/account/register" class="nav-link">Register</a>
                </li>
            <% } %>               
            

        </ul>
    </div>
</nav>